/* GLOBAL */

@font-face {
    font-family: "Eurostile";
    src: url(fonts/fonnts.com-Eurostile.otf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Eurostile";
    src: url(fonts/fonnts.com-Eurostile_Bold.otf) format("truetype");
    font-weight: bold;
}

* {
    background-color: #00171F;
    color: #FBF9E4;
    box-sizing: border-box;
    font-family: "Eurostile";
}

a {
    text-decoration: none;
}

hr {
    opacity: 0.02;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

/*NAVIGATION BAR*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    margin-left: 40px;
}

.nav_links {
    margin-top: 10px;
    margin-bottom: 15px;
}

.convert-nav{
    display: flex; 
    justify-content: space-evenly;
    margin-left: 550px;
    margin-right: 550px;
}

.nav_link {
    width: fit-content;
    padding: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.nav_link:hover {
    border: 1.5px solid rgb(255, 255, 255);
    background-color: #16353b;
    transition-duration: 0.5s;
}

.nav_link:active {
    border: 1.5px solid rgba(255, 255, 255, 0.079);
    background-color: #16353b1a;
}

/* WEBPAGE CONTENT */
.content_block {
    width: 800px;
    padding: 70px;
    margin: 150px auto;
    text-align: center;
}

.content_block_conversion {
    width: 700px;
    padding: 50px;
    margin: 130px auto;
    text-align: center;
}

/* FORM */
.form_actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.form_button {
    width: fit-content;
    padding: 20px;
    border: 1.5px solid rgb(255, 255, 255, 0.10);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.form_button:hover {
    border: 1.5px solid rgb(255, 255, 255, 1);
    background-color: #16353b;
    transition-duration: 0.5s; 
}

.form_button:active {
    border: 1.5px solid rgba(255, 255, 255, 0.079);
    background-color: #16353b1a;
}

/* FOOTER */
.footer {
    width: 800px ;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.social_link {
    margin: 5px;
    padding: auto;
    width: 30px;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.social_link:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.social_link:active {
    color: #000000;
}
 
#credits_name {
    opacity: 0.5;
    transition-duration: 0.5s;
}

#credits_name:hover {
    opacity: 1;
    transition-duration: 0.5s;
}