* {
    background-color: #0D1F23;
    color: #69818D; 
}

hr {
    opacity: 0;
}

.navbar, .convert-nav{
    display: flex;
    justify-content: space-around;
}

.content{
    width: 89%;
    margin: auto;
}

.convert_block {
    width: 80%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 10%;
}

.form_actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.form_button {
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#github_icon {
    display: block;
    margin-right: auto;
    width: 33px;
    opacity: 0.5;
}

#github_link {
    width: auto;
    height: 33px;
    display: flex;
    justify-content: center;
}

#github_icon:hover {
    opacity: 1;
}

#github_icon:active {
    color: #ffffff;
}