<!DOCTYPE html>
<html lang="en-uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}FlipMyFile | File Converter {% endblock %}</title>
        <meta name="description" content="Convert PDFs, DOCs, CSVs, & TXTs Files">
        <meta name="keywords" content="file converter, pdfs to txt, txt to docs, txt to csvs">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="content">
        <div class="navbar">
            <a href="/" class="nav_logo">FlipMyFile</a>
            <div class="nav_links">
                <a href="/" class="nav_link">Home</a>
                <a href="/convert/PDF" class="nav_link">Convert</a>
                <a href="/about" class="nav_link">About</a>
            </div>
            
        </div>
        <hr>
        
        

        {% block content %}
        {% endblock %}
    </body>
    <hr>
    <footer >
        <div class="footer">
            <div class="credits_div">
                <p id="credits">Created By <a href="https://github.com/romainenoir" id="credits_name">Romaine Noir</a></p>
            </div>
            <div class="social_links_row">
                <a href="https://github.com/romainenoir/file-converter_flask"><img src="/static/images/github_edge-icon.png" alt="Github Page" class="social_link"></a>
            </div>
        </div>
    </footer>
</html>