<!DOCTYPE html>
<html lang="en-uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FlipMyFile | File Converter</title>
        <meta name="description" content="Convert PDFs, DOCs, CSVs, & TXTs Files">
        <meta name="keywords" content="file converter, pdfs to txt, txt to docs, txt to csvs">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="content">
        <div class="navbar">
            <a href="/">FlipMyFile</a>
            |
            <a href="/">Home</a>
            |
            <a href="/convert/PDF">Convert</a>
            |
            <a href="/about">About</a>
        </div>
       {% block content %}
       {% endblock %}
    </body>
    <hr>
    <footer class="footer">
        <p id="credits">Created By Romaine Noir</p>
        <a href="https://github.com/rhome-noir"><img src="/static/Github-Logo-PNG-File-1.png" alt="Github Page" id="github_icon"></a>
    </footer>
</html>