{% extends "base.html" %}

{% block content %}

<div class="convert-nav">
{% for file_dot, file_name in file_types.items() %}
<a href="{{ url_for('convert', file_type=file_name) }}" class="nav_link">{{ file_name }}</a>
{% endfor %}   
</div>

<div class="content_block_conversion">
    <h1>Upload A {{ file_type | upper() }} Document</h1>

    {% if file_type == "PDF" %}
    <form class="converter_form pdf_form" method="POST" enctype="multipart/form-data">
        {{pdf_converter.hidden_tag()}}
        <p>{{pdf_converter.file_doc(class="form_button")}}</p>

        <div class="form_actions">
            <p>{{pdf_converter.convert_to_txt(class="form_button")}}</p>
            <p>{{pdf_converter.convert_to_csv(class="form_button")}}</p>
            <p>{{pdf_converter.convert_to_doc(class="form_button")}}</p>
        </div> 
    </form>
    {% endif %}

    {% if file_type == "TXT" %}
    <form class="converter_form txt_form" method="POST" enctype="multipart/form-data">
        {{txt_converter.hidden_tag()}}
        <p>{{txt_converter.file_doc(class="form_button")}}</p>

        <div class="form_actions">
            <p>{{txt_converter.convert_to_pdf(class="form_button")}}</p>
            <p>{{txt_converter.convert_to_csv(class="form_button")}}</p>
            <p>{{txt_converter.convert_to_doc(class="form_button")}}</p>
        </div>
    </form>
    {% endif %}

    {% if file_type == "DOC" %}
    <form class="converter_form doc_form" method="POST" enctype="multipart/form-data">
        {{doc_converter.hidden_tag()}}
        <p>{{doc_converter.file_doc(class="form_button")}}</p>

        <div class="form_actions">
            <p>{{doc_converter.convert_to_pdf(class="form_button")}}</p>
            <p>{{doc_converter.convert_to_txt(class="form_button")}}</p>
            <p>{{doc_converter.convert_to_csv(class="form_button")}}</p>
        </div>
        
    </form>
    {% endif %}

    {%if file_type == "CSV" %}
    <form class="converter_form doc_form" method="POST" enctype="multipart/form-data">
        {{csv_converter.hidden_tag()}}
        <p>{{csv_converter.file_doc(class="form_button")}}</p>

        <div class="form_actions">
            <p>{{csv_converter.convert_to_txt(class="form_button")}}</p>
            <p>{{csv_converter.convert_to_doc(class="form_button")}}</p>
            <p>{{csv_converter.convert_to_pdf(class="form_button")}}</p>
        </div>
    </form>
    {% endif %}
</div>


{% endblock %}